<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">
    <div th:if="${msg != null}">
        <script>
            Swal.fire({
                title: "Confirmación",
                text: '[[${msg}]]',
                icon: "success"
            });
        </script>
    </div>
    <div th:if="${error != null}">
        <script>
            Swal.fire({
                title: "Error",
                text: '[[${error}]]',
                icon: "error"
            });
        </script>
    </div>
    <h1>Listado de Estudiantes-Grupos</h1>
    <a th:href="@{/estudianteGrupos/create}" class="btn btn-outline-primary">Nuevo Registro</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Estudiante</th>
            <th>Grupo</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${estudianteGrupos}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.estudiante.nombre}"></td>
            <td th:text="${item.grupo.nombre}"></td>
            <td>
                <a th:href="@{/estudianteGrupos/details/{id} (id=${item.id})}" class="btn btn-outline-secondary">Ver</a>
                <a th:href="@{/estudianteGrupos/edit/{id} (id=${item.id})}" class="btn btn-outline-info">Editar</a>
                <a th:href="@{/estudianteGrupos/remove/{id} (id=${item.id})}" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav class="page navegation example">
        <ul class="pagination">
            <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                <a class="page-link" th:href="@{|/estudianteGrupos?page=${pageNumber}|}" th:text="${pageNumber}"></a>
            </li>
        </ul>
    </nav>
</div>
</html>
