<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"   layout:decorate="/layouts/_mainLayout">>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Nuevo Grupo</title>

</head>
<body>
<div layout:fragment="content">
    <h1>Crear Nuevo Grupo</h1>
    <form th:action="@{/Grupos/save}" th:object="${grupo}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Escriba el nombre del grupo" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <textarea class="form-control" th:field="*{descripcion}" id="descripcion" cols="12" rows="3" required></textarea>
                </div>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-info">Guardar</button> |
        <a th:href="@{/Grupos}" class="btn btn-secondary">Regresar</a>
    </form>
</div>
</body>
</html>
